<div>
    <search></search>
    <hr />
    <div class="container" ng-show="available.isVisible">        
        <table class="table table-condensed table-bordered availableClass1 availableClass2">
            <thead>
                <tr>                        
                    <th ng-style="{ 'width' : '5%' }">
					    <input type="button" ng-value="allExpanded ? '-' : '+'" ng-click="available.expandAll(allExpanded = !allExpanded)"></input>
                    </th>
                    <th ng-style="{ 'width' : '95%' }">Name</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat-start="roomType in available.availableRaters.RoomType">
                    <td>
			            <input type="button" ng-value="expanded ? '-' : '+'" ng-click="expanded = !expanded" expand></input>
                    </td>
                    <td>{{roomType.Name_H}}</td>
                </tr>
                <tr ng-repeat-end ng-show="expanded">
                    <td></td>
                    <td>
                        <table class="table table-condensed table-bordered availableClass1 availableClass2">
                            <thead>
                                <tr>
                                    <td colspan="3">
                                        Allocation: <span>{{roomType.Inventory.Allocation}}</span>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Board Code</th>
                                    <th>Board Description</th>
                                    <th>Value</th>  
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="price in roomType.Price">
                                    <td>{{price.Board}}</td>
                                    <td>{{price.BoardDesc}}</td>
                                    <td>{{price.Value}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
