<div class="container">
    <form>
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="txtDateFrom">{{ search.dateFromLabel }}</label>
                            <input type="text" id="txtDateFrom" class="form-control" placeholder="YYYY-MM-DD" 
                            datetimepicker datetimepicker-options="{{ search.dpDateFromOptions }}" 
                            ng-model="search.dateFrom" 
                            ng-required="search.isFieldRequired" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="txtDateTo">{{search.dateToLabel}}</label>
                            <input id="txtDateTo" class="form-control" placeholder="YYYY-MM-DD"
                            datetimepicker datetimepicker-options="{{ search.dpDateToOptions }}" 
                            ng-model="search.dateTo"
                            ng-required="search.isFieldRequired" />
                        </div>
                    </div>
                </div>
                <div class="row" ng-show="search.isReservation">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="txtDateDepartureFrom">Departure From:</label>
                            <input id="txtDateDepartureFrom" class="form-control" placeholder="YYYY-MM-DD"
                            datetimepicker datetimepicker-options="{{ search.dpDateFromOptions }}" 
                            ng-model="search.dateDepFrom" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="txtDateDepartureTo">Departure To:</label>
                            <input id="txtDateDepartureTo" class="form-control" placeholder="YYYY-MM-DD"
                            datetimepicker datetimepicker-options="{{ search.dpDateToOptions }}" 
                            ng-model="search.dateDepTo" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row" ng-style="search.buttonsStyle">
                    <div class="row">
                       <div class="col-md-12">
                            <div class="form-group">
                                <button class="btn btn-primary btn-block" ng-click="search.search()"><i class="fa fa-search"></i> SEARCH</button>
                            </div>
                        </div>   
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <button class="btn btn-success btn-block" ng-csv="search.exportData" csv-header="search.exportDataHeader" filename="export.csv" ng-disabled="search.isDisabled"><i class="fa fa-file-excel-o"></i> EXPORT</button>  
                            </div>  
                        </div>    
                        <div class="col-md-6">
                            <div class="form-group">
                                <button class="btn btn-success btn-block" ng-click="search.print()" ng-disabled="search.isDisabled"><i class="fa fa-print"></i> PRINT</button>  
                            </div> 
                        </div>
                    </div>
                </div>  
            </div>
        </div>
    </form>
</div>